body {
	margin: 0 0 0 0;
}

.titulo {
    font-size: 1.5em;
}

btn-posicao {
	float: left;
}

.textMaiusculo {
    text-transform: uppercase;
}

.labelTitulosForms {
	font-size: 0.9em;
	color: #676767;
}
